<% if logged_in? %>
  <div class="row">
    <aside class="col-lg-10 offset-lg-1">
      <%= form_for(@review) do |f| %>
        <div class="form-group mt-3 row">
          <label class="col-lg-2">教材名 :</label>
          <%= f.text_area :title, class: 'col-lg-10 form-control', rows:1 %>
          <label class="mt-2 col-lg-2">レビュー :</label>
          <%= f.text_area :content, class: 'mt-2 col-lg-10 form-control', rows: 5 %>
        </div>
        <div class="row">
        <%= f.submit '投稿する', class: 'mb-3 col-lg-6 offset-lg-3 btn btn-primary btn-lg' %>
        </div>
      <% end %>
    </aside>
    <div class="col-xs-8">
      <%= render 'reviews/reviews', reviews: @reviews %>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <h1 class="display-4">Coding Material Review.</h1>
    <br>
    <p class="lead">プログラミング教材をレビューしよう</p>
    <hr class="my-4">
    <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>